dist/*.html text eol=lf
dist/**/*.html text eol=lf
dist/*.css text eol=lf
dist/**/*.css text eol=lf
dist/*.js text eol=lf
dist/**/*.js text eol=lf
dist/*.json text eol=lf
dist/**/*.json text eol=lf
dist/*.md text eol=lf
dist/**/*.md text eol=lf
dist/*.yml text eol=lf
dist/**/*.yml text eol=lf
dist/*.yaml text eol=lf
dist/**/*.yaml text eol=lf
dist/*.txt text eol=lf
dist/**/*.txt text eol=lf
dist/*.sol text eol=lf
dist/**/*.sol text eol=lf
dist/*.circom text eol=lf
dist/**/*.circom text eol=lf
dist/*.py text eol=lf
dist/**/*.py text eol=lf
dist/*.sh text eol=lf
dist/**/*.sh text eol=lf
dist/**/*.svg text eol=lf
dist/**/.gitignore text eol=lf
dist/**/LICENSE text eol=lf
